In [30]:
import pandas as pd
import numpy as np
import datetime
#import pandas_profiling # pip install pandas_profiling

taxiCancellationScore = pd.read_csv("Kaggle_YourCabs_score.csv")
taxiCancellationTraining = pd.read_csv("Kaggle_YourCabs_training.csv")

In [31]:
#taxiCancellationScore.Profile_Report()

In [32]:
taxiCancellationTraining.columns

Index(['id', 'user_id', 'vehicle_model_id', 'package_id', 'travel_type_id',
       'from_area_id', 'to_area_id', 'from_city_id', 'to_city_id', 'from_date',
       'to_date', 'online_booking', 'mobile_site_booking', 'booking_created',
       'from_lat', 'from_long', 'to_lat', 'to_long', 'Car_Cancellation',
       'Cost_of_error'],
      dtype='object')

In [33]:
taxiCancellationTraining

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation,Cost_of_error
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,1/1/2013 2:00,NaN,0,0,1/1/2013 1:39,12.924150,77.672290,12.927320,77.635750,0,1.0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 2:25,12.966910,77.749350,12.927680,77.626640,0,1.0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,1/1/2013 3:30,NaN,0,0,1/1/2013 3:08,12.937222,77.626915,13.047926,77.597766,0,1.0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,1/1/2013 5:45,NaN,0,0,1/1/2013 4:39,12.989990,77.553320,12.971430,77.639140,0,1.0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 7:53,12.845653,77.677925,12.954340,77.600720,0,1.0
5,132518,17712,12,NaN,2,1021.0,1323.0,NaN,NaN,1/1/2013 22:30,NaN,0,0,1/1/2013 8:01,13.028530,77.546250,12.869805,77.653211,0,1.0
6,132519,22172,12,NaN,1,571.0,NaN,15.0,108.0,1/1/2013 9:45,41275.40625,0,0,1/1/2013 9:21,12.951850,77.696420,NaN,NaN,0,1.0
7,132520,22181,12,NaN,2,1192.0,832.0,NaN,NaN,1/1/2013 11:00,NaN,0,0,1/1/2013 9:39,12.976770,77.572700,12.880190,77.645580,0,1.0
8,132521,22182,65,2.0,3,448.0,NaN,NaN,NaN,1/1/2013 16:00,NaN,0,0,1/1/2013 9:44,12.927320,77.635750,NaN,NaN,0,1.0
9,132522,22184,12,NaN,2,516.0,376.0,NaN,NaN,1/1/2013 11:00,NaN,0,0,1/1/2013 9:49,13.005600,77.657990,12.902450,77.660810,0,1.0
10,132523,4941,12,NaN,2,150.0,776.0,NaN,NaN,1/1/2013 11:00,NaN,0,0,1/1/2013 9:55,12.897240,77.610650,13.015080,77.677960,0,1.0
11,132524,17037,12,NaN,2,455.0,1330.0,NaN,NaN,1/1/2013 12:45,NaN,0,0,1/1/2013 9:59,12.999874,77.678120,12.953434,77.706510,0,1.0
12,132525,22185,12,NaN,2,1166.0,1328.0,NaN,NaN,1/1/2013 12:30,NaN,0,0,1/1/2013 10:18,12.997198,77.669514,12.958808,77.649047,0,1.0
13,132526,22186,12,NaN,2,793.0,590.0,NaN,NaN,1/1/2013 12:45,NaN,0,0,1/1/2013 11:17,13.022390,77.594920,13.008260,77.564330,0,1.0
14,132527,16,28,NaN,2,1063.0,58.0,NaN,NaN,1/1/2013 15:00,NaN,1,0,1/1/2013 11:48,12.934477,77.611284,12.889630,77.601190,0,1.0
15,132528,15097,12,NaN,2,1102.0,292.0,NaN,NaN,1/2/2013 2:00,NaN,0,0,1/1/2013 11:52,12.936520,77.544810,12.939440,77.629230,0,1.0
16,132530,761,12,NaN,2,814.0,393.0,NaN,NaN,1/2/2013 0:30,41277.00000,1,0,1/1/2013 12:14,12.908993,77.688900,13.199560,77.706880,0,1.0
17,132531,22189,24,NaN,1,1383.0,NaN,NaN,32.0,1/12/2013 8:00,41288.00000,1,0,1/1/2013 12:17,12.930451,77.685822,NaN,NaN,0,1.0
18,132533,17226,12,NaN,2,1353.0,585.0,NaN,NaN,1/1/2013 16:00,NaN,0,0,1/1/2013 12:28,12.966545,77.711639,12.976770,77.572700,0,1.0
19,132534,868,12,NaN,2,297.0,212.0,NaN,NaN,1/1/2013 13:15,NaN,0,0,1/1/2013 12:42,12.997890,77.614880,12.994740,77.607970,0,1.0
20,132535,22190,87,2.0,3,471.0,NaN,NaN,NaN,1/1/2013 14:30,NaN,0,0,1/1/2013 12:52,13.018540,77.635240,NaN,NaN,0,1.0
21,132536,16,28,NaN,2,58.0,1063.0,NaN,NaN,1/1/2013 18:30,NaN,1,0,1/1/2013 13:40,12.889630,77.601190,12.934477,77.611284,1,100.0
22,132537,21558,12,NaN,2,540.0,409.0,NaN,NaN,1/1/2013 16:00,NaN,1,0,1/1/2013 13:50,12.927680,77.626640,13.077460,77.606680,0,1.0
23,132538,21995,12,1.0,3,1286.0,NaN,NaN,NaN,1/1/2013 16:30,NaN,0,0,1/1/2013 14:39,12.973448,77.620320,NaN,NaN,0,1.0
24,132539,22192,54,NaN,1,515.0,NaN,15.0,32.0,1/5/2013 8:30,41279.00000,0,0,1/1/2013 14:40,12.978960,77.673450,NaN,NaN,0,1.0
25,132540,22193,12,NaN,2,142.0,393.0,NaN,NaN,1/1/2013 17:00,NaN,1,0,1/1/2013 14:56,12.912810,77.609230,13.199560,77.706880,0,1.0
26,132541,20430,12,NaN,2,393.0,61.0,NaN,NaN,1/2/2013 20:00,NaN,0,0,1/1/2013 15:02,13.199560,77.706880,12.962980,77.712290,0,1.0
27,132542,22194,12,NaN,2,89.0,585.0,NaN,NaN,1/1/2013 20:30,NaN,0,0,1/1/2013 15:07,12.965190,77.719320,12.976770,77.572700,0,1.0
28,132543,21716,28,NaN,2,1237.0,330.0,NaN,NaN,1/1/2013 16:30,NaN,0,0,1/1/2013 15:07,12.926450,77.612060,12.858833,77.589127,0,1.0
29,132544,38966,12,NaN,2,61.0,393.0,NaN,NaN,1/1/2013 18:00,NaN,0,0,1/1/2013 15:11,12.962980,77.712290,13.199560,77.706880,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43401,185909,27899,65,7.0,3,1038.0,NaN,15.0,NaN,11/24/2013 12:00,41602.91667,0,0,11/24/2013 9:44,12.981266,77.637162,NaN,NaN,0,1.0
43402,185910,47996,89,1.0,3,328.0,NaN,15.0,NaN,11/24/2013 14:30,41602.81250,0,0,11/24/2013 9:52,12.945310,77.565530,NaN,NaN,0,1.0
43403,185911,41939,65,7.0,3,1038.0,NaN,15.0,NaN,11/24/2013 12:00,41602.91667,0,0,11/24/2013 9:53,12.981266,77.637162,NaN,NaN,0,1.0
43404,185912,48711,12,NaN,2,238.0,393.0,15.0,NaN,11/25/2013 3:15,41603.18573,1,0,11/24/2013 10:21,12.937110,77.601710,13.199560,77.706880,0,1.0
43405,185914,41939,12,4.0,3,1281.0,NaN,15.0,NaN,11/24/2013 14:00,41603.00000,0,0,11/24/2013 10:56,12.934634,77.611283,NaN,NaN,0,1.0
43406,185915,40643,12,3.0,3,136.0,NaN,15.0,NaN,11/24/2013 15:00,41602.91667,1,0,11/24/2013 11:33,12.907960,77.624180,NaN,NaN,1,100.0
43407,185916,48714,87,NaN,1,1180.0,NaN,15.0,62.0,12/24/2013 15:00,41634.99931,0,0,11/24/2013 11:34,12.900840,77.564830,NaN,NaN,0,1.0
43408,185917,40643,12,3.0,3,136.0,NaN,15.0,NaN,11/24/2013 15:00,41602.91667,1,0,11/24/2013 11:36,12.907960,77.624180,NaN,NaN,1,100.0
43409,185918,41939,12,4.0,3,1281.0,NaN,15.0,NaN,11/24/2013 14:00,41603.00000,0,0,11/24/2013 11:44,12.934634,77.611283,NaN,NaN,0,1.0
43410,185919,41939,12,4.0,3,1281.0,NaN,15.0,NaN,11/24/2013 14:00,41603.00000,0,0,11/24/2013 11:46,12.934634,77.611283,NaN,NaN,0,1.0
43411,185920,31846,65,4.0,3,541.0,NaN,15.0,NaN,11/24/2013 14:15,41603.01042,0,1,11/24/2013 12:09,12.935240,77.619970,NaN,NaN,1,100.0
43412,185921,44027,12,NaN,2,1384.0,571.0,15.0,NaN,11/24/2013 19:30,41602.89769,0,1,11/24/2013 12:10,13.028530,77.546250,12.951850,77.696420,0,1.0
43413,185922,48718,12,NaN,2,1377.0,393.0,15.0,NaN,11/25/2013 4:15,41603.21192,1,0,11/24/2013 12:10,13.055755,77.632910,13.199560,77.706880,0,1.0
43414,185923,34127,12,NaN,2,376.0,424.0,15.0,NaN,11/24/2013 22:15,41602.95931,0,1,11/24/2013 12:25,12.902450,77.660810,12.930840,77.618830,1,100.0
43415,185924,48719,12,1.0,3,768.0,NaN,15.0,NaN,11/24/2013 16:00,41602.87500,0,1,11/24/2013 12:32,12.989990,77.553320,NaN,NaN,0,1.0
43416,185926,36929,12,NaN,2,396.0,393.0,15.0,NaN,11/24/2013 16:15,41602.75176,1,0,11/24/2013 12:58,12.920730,77.664820,13.199560,77.706880,0,1.0
43417,185927,41939,12,4.0,3,1390.0,NaN,15.0,NaN,11/24/2013 15:00,41603.04167,0,0,11/24/2013 13:06,12.969368,77.641302,NaN,NaN,0,1.0
43418,185928,48721,12,NaN,2,1263.0,393.0,15.0,NaN,11/24/2013 18:00,41602.86178,1,0,11/24/2013 13:07,12.968970,77.594560,13.199560,77.706880,0,1.0
43419,185929,46807,12,NaN,2,571.0,393.0,15.0,NaN,11/25/2013 4:30,41603.23846,0,0,11/24/2013 13:47,12.951850,77.696420,13.199560,77.706880,0,1.0
43420,185930,36265,65,2.0,3,1237.0,NaN,15.0,NaN,11/25/2013 1:00,41603.41667,1,0,11/24/2013 13:54,12.926450,77.612060,NaN,NaN,0,1.0
43421,185931,48723,12,NaN,2,1371.0,1181.0,15.0,NaN,11/25/2013 9:45,41603.43118,0,0,11/24/2013 14:10,13.000418,77.674835,12.978960,77.673450,0,1.0
43422,185932,48724,12,NaN,2,393.0,269.0,15.0,NaN,11/24/2013 21:15,41602.98345,0,0,11/24/2013 14:12,13.199560,77.706880,12.974400,77.691830,1,100.0
43423,185933,48725,24,NaN,2,585.0,339.0,15.0,NaN,11/24/2013 16:00,41602.70913,0,1,11/24/2013 14:15,12.976770,77.572700,12.910280,77.645120,0,1.0
43424,185935,48726,12,2.0,3,515.0,NaN,15.0,NaN,11/24/2013 15:15,41603.01042,0,0,11/24/2013 14:23,12.978960,77.673450,NaN,NaN,0,1.0
43425,185936,30220,12,NaN,2,585.0,1226.0,15.0,NaN,11/25/2013 0:00,41603.03336,0,1,11/24/2013 14:24,12.976770,77.572700,13.015080,77.677960,0,1.0
43426,185937,14364,12,NaN,2,1147.0,452.0,15.0,NaN,11/24/2013 18:00,41602.82020,1,0,11/24/2013 14:25,13.030640,77.649100,12.952780,77.590880,0,1.0
43427,185938,48727,12,NaN,2,393.0,466.0,15.0,NaN,11/26/2013 1:00,41604.08037,1,0,11/24/2013 14:30,13.199560,77.706880,13.017436,77.644580,0,1.0
43428,185939,48729,12,1.0,3,974.0,NaN,15.0,NaN,11/24/2013 18:30,41602.97917,0,0,11/24/2013 14:35,13.075570,77.559040,NaN,NaN,0,1.0
43429,185940,30724,87,NaN,2,1263.0,542.0,15.0,NaN,11/24/2013 16:00,41602.69495,0,0,11/24/2013 14:43,12.968970,77.594560,12.938230,77.622890,0,1.0
43430,185941,48730,12,NaN,2,689.0,393.0,15.0,NaN,11/25/2013 5:00,41603.25385,0,1,11/24/2013 14:50,12.976720,77.649270,13.199560,77.706880,0,1.0

In [34]:
taxiCancellationTraining.isnull().sum()

id                         0
user_id                    0
vehicle_model_id           0
package_id             35881
travel_type_id             0
from_area_id              88
to_area_id              9138
from_city_id           27086
to_city_id             41843
from_date                  0
to_date                17890
online_booking             0
mobile_site_booking        0
booking_created            0
from_lat                  93
from_long                 93
to_lat                  9138
to_long                 9138
Car_Cancellation           0
Cost_of_error              0
dtype: int64

In [35]:
t = taxiCancellationTraining[['from_date','booking_created']].replace(to_replace = {'/':'',':':''})

In [47]:
aras = []
for i in range(taxiCancellationTraining.shape[0]):
    strar = taxiCancellationTraining['from_date'].values[i].split(sep=" ")
    strar2= strar[0].split(sep="/")
    strar3= 
    day = datetime.datetime(int(strar2[2]),int(strar2[1]),int(strar2[0])).weekday()
    print(day)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
4
4
6
1
1
1
1
1
1
2
1
4
1
1
1
4
1
4
4
1
4
4
4
1
1
1
4
4
4
4
1
1
4
1
4
4
4
4
4
4
4
1
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4

ValueError: month must be in 1..12

In [ ]:

taxiCancellationTraining["from_date"].

In [ ]:
taxiCancellationScore.isnull().sum()

In [48]:
feature_cols = ['vehicle_model_id', 'package_id', 'travel_type_id',
                'from_area_id', 'to_area_id', 'from_city_id', 'to_city_id', 'from_date',
       'to_date', 'online_booking', 'mobile_site_booking', 'booking_created',
       'from_lat', 'from_long', 'to_lat', 'to_long']
X = taxiCancellationTraining[feature_cols].values # Features
y = taxiCancellationTraining.Car_Cancellation.values # Target variable

In [49]:
X_test = taxiCancellationScore[feature_cols] # Features

## 4 Models

In [50]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout

#Logistic Regresstion

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial')
logreg.fit(X, y)


#Deep Learning Keras Model
#relu -linear
#sigmoid function for final layer
#Dropout 50%
#Dimension input features column
#Output binary classification 0 and 1
model = Sequential()
model.add(Dense(124, activation='relu', input_dim = X.shape[1]))
model.add(Dropout(0.3))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(1, activation='sigmoid'))
model.summary()
#Using binary_crossentropy
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])



#KNN
n_neigh = 3
from sklearn.neighbors import KNeighborsClassifier
neighbor = KNeighborsClassifier(n_neigh)
neighbor.fit(X, y) 


#Naive Bayes
from sklearn.naive_bayes import GaussianNB
gaus = GaussianNB()
clf.fit(X, Y)

ModuleNotFoundError: No module named 'tensorflow'

# Prediction

# Performance of Each Model

# visualization