In [1]:
import pandas as pd
import numpy as np
taxiCancellationScore = pd.read_csv("Kaggle_YourCabs_score.csv")
taxiCancellationTraining = pd.read_csv("Kaggle_YourCabs_training.csv")

In [3]:
taxiCancellationScore

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Unnamed: 18,Unnamed: 19
0,132516,22179,12,NaN,2,1096.0,393.0,NaN,NaN,1/1/2013 9:30,NaN,0,0,1/1/2013 7:51,12.965190,77.719320,13.199560,77.706880,NaN,NaN
1,132529,22187,65,NaN,2,1061.0,393.0,NaN,NaN,1/2/2013 1:00,NaN,0,0,1/1/2013 12:11,12.924878,77.566255,13.199560,77.706880,NaN,NaN
2,132532,23180,12,NaN,2,1192.0,353.0,NaN,NaN,1/2/2013 4:30,NaN,0,0,1/1/2013 12:22,12.976770,77.572700,13.032410,77.599140,NaN,NaN
3,132547,30849,12,NaN,2,515.0,849.0,NaN,NaN,1/1/2013 20:15,NaN,0,0,1/1/2013 16:51,12.978960,77.673450,12.954340,77.600720,NaN,NaN
4,132548,22198,12,NaN,2,83.0,463.0,NaN,NaN,1/3/2013 0:30,NaN,0,0,1/1/2013 17:04,12.924150,77.672290,12.960370,77.581320,NaN,NaN
5,132549,22199,12,NaN,2,1052.0,393.0,NaN,NaN,1/2/2013 3:30,NaN,0,0,1/1/2013 17:06,12.912695,77.576265,13.199560,77.706880,NaN,NaN
6,132554,12997,12,NaN,2,1330.0,590.0,NaN,NaN,1/2/2013 8:45,NaN,0,0,1/1/2013 17:34,12.953434,77.706510,13.008260,77.564330,NaN,NaN
7,132560,20380,12,NaN,2,1068.0,1384.0,NaN,NaN,1/1/2013 19:30,NaN,0,0,1/1/2013 18:32,13.044009,77.606805,13.028530,77.546250,NaN,NaN
8,132562,21635,85,NaN,2,571.0,243.0,NaN,NaN,1/2/2013 6:00,NaN,0,0,1/1/2013 18:45,12.951850,77.696420,13.243730,77.709150,NaN,NaN
9,132565,403,28,NaN,2,1192.0,83.0,NaN,NaN,1/2/2013 7:15,NaN,0,0,1/1/2013 19:02,12.976770,77.572700,12.924150,77.672290,NaN,NaN
10,132575,22215,12,NaN,2,293.0,1069.0,NaN,NaN,1/2/2013 10:00,NaN,0,0,1/1/2013 20:27,12.849482,77.663187,12.949764,77.643524,NaN,NaN
11,132582,22218,12,NaN,2,585.0,58.0,NaN,NaN,1/2/2013 9:00,NaN,0,0,1/1/2013 21:45,12.976770,77.572700,12.889630,77.601190,NaN,NaN
12,132584,22219,12,NaN,2,849.0,186.0,NaN,NaN,1/2/2013 8:45,NaN,0,0,1/1/2013 22:10,12.954340,77.600720,12.802570,77.704530,NaN,NaN
13,132586,22220,12,NaN,1,1086.0,NaN,15.0,32.0,1/2/2013 7:00,1/2/2013,0,0,1/1/2013 22:27,12.907487,77.647290,NaN,NaN,NaN,NaN
14,132593,18298,24,NaN,2,1192.0,832.0,NaN,NaN,1/2/2013 9:45,NaN,0,0,1/2/2013 7:39,12.976770,77.572700,12.880190,77.645580,NaN,NaN
15,132601,22224,12,NaN,2,1084.0,585.0,NaN,NaN,1/2/2013 15:15,NaN,0,0,1/2/2013 8:57,12.892657,77.581866,12.976770,77.572700,NaN,NaN
16,132603,22225,12,NaN,2,1173.0,963.0,NaN,NaN,1/2/2013 10:00,NaN,0,0,1/2/2013 9:06,12.959979,77.647998,12.991110,77.592040,NaN,NaN
17,132613,22231,85,NaN,2,1286.0,393.0,NaN,NaN,1/2/2013 12:45,NaN,0,0,1/2/2013 11:12,12.973448,77.620320,13.199560,77.706880,NaN,NaN
18,132622,22237,12,NaN,1,393.0,NaN,15.0,29.0,1/5/2013 8:15,1/7/2013,0,0,1/2/2013 12:15,13.199560,77.706880,NaN,NaN,NaN,NaN
19,132636,22244,12,NaN,2,977.0,1098.0,NaN,NaN,1/2/2013 16:30,NaN,0,0,1/2/2013 15:34,12.969933,77.533286,12.936520,77.544810,NaN,NaN
20,132647,19489,12,NaN,2,393.0,308.0,NaN,NaN,1/3/2013 1:00,NaN,1,0,1/2/2013 17:19,13.199560,77.706880,12.990490,77.697980,NaN,NaN
21,132654,21893,12,NaN,2,156.0,1384.0,NaN,NaN,1/2/2013 20:30,NaN,0,0,1/2/2013 18:41,13.026220,77.701430,13.028530,77.546250,NaN,NaN
22,132655,22253,12,NaN,2,393.0,58.0,NaN,NaN,1/2/2013 23:30,NaN,0,0,1/2/2013 18:46,13.199560,77.706880,12.889630,77.601190,NaN,NaN
23,132660,22256,12,NaN,2,1181.0,572.0,NaN,NaN,1/2/2013 21:00,NaN,0,0,1/2/2013 19:20,12.978960,77.673450,12.918730,77.614940,NaN,NaN
24,132680,18929,12,NaN,2,571.0,1010.0,NaN,NaN,1/3/2013 5:45,NaN,0,0,1/3/2013 5:27,12.951850,77.696420,12.966910,77.749350,NaN,NaN
25,132691,4141,85,NaN,2,1010.0,393.0,NaN,NaN,1/3/2013 20:30,NaN,0,0,1/3/2013 9:58,12.966910,77.749350,13.199560,77.706880,NaN,NaN
26,132696,19545,12,NaN,2,105.0,1334.0,NaN,NaN,1/3/2013 15:45,NaN,1,0,1/3/2013 11:02,13.017660,77.645030,13.050994,77.593661,NaN,NaN
27,132711,22284,28,NaN,2,207.0,1021.0,NaN,NaN,1/3/2013 22:00,NaN,0,0,1/3/2013 15:27,13.004350,77.616420,13.028530,77.546250,NaN,NaN
28,132726,18034,12,NaN,2,1183.0,1371.0,NaN,NaN,1/5/2013 7:15,NaN,0,0,1/3/2013 17:55,12.965563,77.668576,13.000418,77.674835,NaN,NaN
29,132735,22299,12,NaN,2,1150.0,393.0,NaN,NaN,1/4/2013 2:30,NaN,0,0,1/3/2013 20:09,12.992870,77.716620,13.199560,77.706880,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,185737,47837,12,NaN,2,363.0,393.0,15.0,NaN,11/23/2013 12:30,11/23/2013,1,0,11/22/2013 20:50,12.992870,77.716620,13.199560,77.706880,NaN,NaN
9971,185739,26071,12,NaN,2,1285.0,353.0,15.0,NaN,11/23/2013 3:00,11/23/2013,1,0,11/22/2013 20:58,12.993032,77.661494,13.032410,77.599140,NaN,NaN
9972,185744,48620,12,NaN,1,1061.0,NaN,15.0,28.0,11/23/2013 7:30,11/23/2013,0,0,11/22/2013 21:35,12.924878,77.566255,NaN,NaN,NaN,NaN
9973,185746,40754,65,NaN,1,814.0,NaN,15.0,12.0,11/23/2013 6:00,11/23/2013,1,0,11/22/2013 21:43,12.908993,77.688900,NaN,NaN,NaN,NaN
9974,185751,48624,89,NaN,2,585.0,784.0,15.0,NaN,11/23/2013 6:45,11/23/2013,1,0,11/22/2013 22:03,12.976770,77.572700,12.966340,77.607090,NaN,NaN
9975,185753,43213,89,NaN,2,393.0,142.0,15.0,NaN,11/23/2013 4:30,11/23/2013,1,0,11/22/2013 22:12,13.199560,77.706880,12.912810,77.609230,NaN,NaN
9976,185763,29871,28,3.0,3,1017.0,NaN,15.0,NaN,11/23/2013 14:00,11/23/2013,1,0,11/22/2013 23:33,13.110840,77.600740,NaN,NaN,NaN,NaN
9977,185765,30249,28,NaN,2,1089.0,393.0,15.0,NaN,11/23/2013 6:15,11/23/2013,0,1,11/22/2013 23:55,12.995170,77.731147,13.199560,77.706880,NaN,NaN
9978,185770,45650,65,NaN,1,1165.0,NaN,15.0,29.0,12/12/2013 6:00,12/15/2013,1,0,11/23/2013 0:40,12.990947,77.687112,NaN,NaN,NaN,NaN
9979,185771,31181,24,2.0,3,339.0,NaN,15.0,NaN,11/23/2013 10:15,11/23/2013,1,0,11/23/2013 1:08,12.910280,77.645120,NaN,NaN,NaN,NaN
9980,185775,48633,12,NaN,2,1400.0,393.0,NaN,NaN,11/23/2013 9:30,11/23/2013,0,0,11/23/2013 8:03,12.957261,77.644022,13.199560,77.706880,NaN,NaN
9981,185777,48635,12,NaN,2,585.0,1391.0,15.0,NaN,11/23/2013 12:45,11/23/2013,0,0,11/23/2013 8:32,12.976770,77.572700,12.970926,77.647321,NaN,NaN
9982,185789,48643,12,1.0,3,352.0,NaN,15.0,NaN,11/23/2013 13:00,11/23/2013,0,0,11/23/2013 10:28,13.033690,77.628210,NaN,NaN,NaN,NaN
9983,185797,48645,89,NaN,2,479.0,393.0,NaN,NaN,11/24/2013 4:45,11/24/2013,0,0,11/23/2013 11:15,13.022980,77.609220,13.199560,77.706880,NaN,NaN
9984,185800,48648,12,4.0,3,689.0,NaN,15.0,NaN,11/23/2013 13:30,11/23/2013,0,1,11/23/2013 11:34,12.976720,77.649270,NaN,NaN,NaN,NaN
9985,185804,9447,12,NaN,2,1147.0,452.0,15.0,NaN,11/23/2013 19:15,11/23/2013,0,0,11/23/2013 12:33,13.030640,77.649100,12.952780,77.590880,NaN,NaN
9986,185806,31950,12,NaN,2,776.0,452.0,15.0,NaN,11/23/2013 20:00,11/23/2013,0,0,11/23/2013 12:38,13.015080,77.677960,12.952780,77.590880,NaN,NaN
9987,185810,48651,12,NaN,2,758.0,83.0,15.0,NaN,11/23/2013 21:00,11/23/2013,0,0,11/23/2013 13:11,12.987680,77.598510,12.924150,77.672290,NaN,NaN
9988,185831,48662,12,NaN,2,1318.0,393.0,15.0,NaN,11/24/2013 13:00,11/24/2013,1,0,11/23/2013 15:56,12.938602,77.629962,13.199560,77.706880,NaN,NaN
9989,185868,28535,12,NaN,2,393.0,1308.0,15.0,NaN,11/24/2013 9:15,11/24/2013,0,1,11/23/2013 21:29,13.199560,77.706880,12.984130,77.600371,NaN,NaN
9990,185872,48686,89,NaN,2,1280.0,432.0,15.0,NaN,11/24/2013 7:15,11/24/2013,1,0,11/23/2013 21:54,12.966054,77.717837,12.901630,77.582000,NaN,NaN
9991,185882,46884,12,NaN,2,393.0,1257.0,15.0,NaN,11/24/2013 19:15,11/24/2013,1,0,11/23/2013 22:51,13.199560,77.706880,12.934477,77.611284,NaN,NaN
9992,185890,48698,12,4.0,3,542.0,NaN,15.0,NaN,11/25/2013 6:30,11/25/2013,0,0,11/23/2013 23:40,12.938230,77.622890,NaN,NaN,NaN,NaN
9993,185894,48591,65,4.0,3,1017.0,NaN,15.0,NaN,11/25/2013 11:00,11/25/2013,0,0,11/24/2013 0:26,13.110840,77.600740,NaN,NaN,NaN,NaN
9994,185905,22839,12,1.0,3,768.0,NaN,15.0,NaN,11/24/2013 12:00,11/24/2013,0,0,11/24/2013 9:23,12.989990,77.553320,NaN,NaN,NaN,NaN
9995,185906,48708,12,NaN,2,1026.0,1194.0,15.0,NaN,11/24/2013 11:00,11/24/2013,1,0,11/24/2013 9:26,13.104820,77.576310,13.004460,77.569230,NaN,NaN
9996,185913,48712,90,NaN,2,1133.0,167.0,15.0,NaN,11/24/2013 16:30,11/24/2013,0,0,11/24/2013 10:50,12.974400,77.691830,12.990360,77.589130,NaN,NaN
9997,185925,48720,12,NaN,2,363.0,393.0,15.0,NaN,11/26/2013 16:30,11/26/2013,0,0,11/24/2013 12:37,12.992870,77.716620,13.199560,77.706880,NaN,NaN
9998,185934,22936,12,NaN,2,1330.0,1371.0,15.0,NaN,11/25/2013 3:00,11/25/2013,1,0,11/24/2013 14:22,12.953434,77.706510,13.000418,77.674835,NaN,NaN
9999,185942,30220,12,NaN,2,585.0,1226.0,15.0,NaN,11/25/2013 7:15,11/25/2013,0,0,11/24/2013 14:50,12.976770,77.572700,13.015080,77.677960,NaN,NaN

In [4]:
taxiCancellationTraining

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation,Cost_of_error
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,1/1/2013 2:00,NaN,0,0,1/1/2013 1:39,12.924150,77.672290,12.927320,77.635750,0,1.0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 2:25,12.966910,77.749350,12.927680,77.626640,0,1.0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,1/1/2013 3:30,NaN,0,0,1/1/2013 3:08,12.937222,77.626915,13.047926,77.597766,0,1.0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,1/1/2013 5:45,NaN,0,0,1/1/2013 4:39,12.989990,77.553320,12.971430,77.639140,0,1.0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 7:53,12.845653,77.677925,12.954340,77.600720,0,1.0
5,132518,17712,12,NaN,2,1021.0,1323.0,NaN,NaN,1/1/2013 22:30,NaN,0,0,1/1/2013 8:01,13.028530,77.546250,12.869805,77.653211,0,1.0
6,132519,22172,12,NaN,1,571.0,NaN,15.0,108.0,1/1/2013 9:45,41275.40625,0,0,1/1/2013 9:21,12.951850,77.696420,NaN,NaN,0,1.0
7,132520,22181,12,NaN,2,1192.0,832.0,NaN,NaN,1/1/2013 11:00,NaN,0,0,1/1/2013 9:39,12.976770,77.572700,12.880190,77.645580,0,1.0
8,132521,22182,65,2.0,3,448.0,NaN,NaN,NaN,1/1/2013 16:00,NaN,0,0,1/1/2013 9:44,12.927320,77.635750,NaN,NaN,0,1.0
9,132522,22184,12,NaN,2,516.0,376.0,NaN,NaN,1/1/2013 11:00,NaN,0,0,1/1/2013 9:49,13.005600,77.657990,12.902450,77.660810,0,1.0
10,132523,4941,12,NaN,2,150.0,776.0,NaN,NaN,1/1/2013 11:00,NaN,0,0,1/1/2013 9:55,12.897240,77.610650,13.015080,77.677960,0,1.0
11,132524,17037,12,NaN,2,455.0,1330.0,NaN,NaN,1/1/2013 12:45,NaN,0,0,1/1/2013 9:59,12.999874,77.678120,12.953434,77.706510,0,1.0
12,132525,22185,12,NaN,2,1166.0,1328.0,NaN,NaN,1/1/2013 12:30,NaN,0,0,1/1/2013 10:18,12.997198,77.669514,12.958808,77.649047,0,1.0
13,132526,22186,12,NaN,2,793.0,590.0,NaN,NaN,1/1/2013 12:45,NaN,0,0,1/1/2013 11:17,13.022390,77.594920,13.008260,77.564330,0,1.0
14,132527,16,28,NaN,2,1063.0,58.0,NaN,NaN,1/1/2013 15:00,NaN,1,0,1/1/2013 11:48,12.934477,77.611284,12.889630,77.601190,0,1.0
15,132528,15097,12,NaN,2,1102.0,292.0,NaN,NaN,1/2/2013 2:00,NaN,0,0,1/1/2013 11:52,12.936520,77.544810,12.939440,77.629230,0,1.0
16,132530,761,12,NaN,2,814.0,393.0,NaN,NaN,1/2/2013 0:30,41277.00000,1,0,1/1/2013 12:14,12.908993,77.688900,13.199560,77.706880,0,1.0
17,132531,22189,24,NaN,1,1383.0,NaN,NaN,32.0,1/12/2013 8:00,41288.00000,1,0,1/1/2013 12:17,12.930451,77.685822,NaN,NaN,0,1.0
18,132533,17226,12,NaN,2,1353.0,585.0,NaN,NaN,1/1/2013 16:00,NaN,0,0,1/1/2013 12:28,12.966545,77.711639,12.976770,77.572700,0,1.0
19,132534,868,12,NaN,2,297.0,212.0,NaN,NaN,1/1/2013 13:15,NaN,0,0,1/1/2013 12:42,12.997890,77.614880,12.994740,77.607970,0,1.0
20,132535,22190,87,2.0,3,471.0,NaN,NaN,NaN,1/1/2013 14:30,NaN,0,0,1/1/2013 12:52,13.018540,77.635240,NaN,NaN,0,1.0
21,132536,16,28,NaN,2,58.0,1063.0,NaN,NaN,1/1/2013 18:30,NaN,1,0,1/1/2013 13:40,12.889630,77.601190,12.934477,77.611284,1,100.0
22,132537,21558,12,NaN,2,540.0,409.0,NaN,NaN,1/1/2013 16:00,NaN,1,0,1/1/2013 13:50,12.927680,77.626640,13.077460,77.606680,0,1.0
23,132538,21995,12,1.0,3,1286.0,NaN,NaN,NaN,1/1/2013 16:30,NaN,0,0,1/1/2013 14:39,12.973448,77.620320,NaN,NaN,0,1.0
24,132539,22192,54,NaN,1,515.0,NaN,15.0,32.0,1/5/2013 8:30,41279.00000,0,0,1/1/2013 14:40,12.978960,77.673450,NaN,NaN,0,1.0
25,132540,22193,12,NaN,2,142.0,393.0,NaN,NaN,1/1/2013 17:00,NaN,1,0,1/1/2013 14:56,12.912810,77.609230,13.199560,77.706880,0,1.0
26,132541,20430,12,NaN,2,393.0,61.0,NaN,NaN,1/2/2013 20:00,NaN,0,0,1/1/2013 15:02,13.199560,77.706880,12.962980,77.712290,0,1.0
27,132542,22194,12,NaN,2,89.0,585.0,NaN,NaN,1/1/2013 20:30,NaN,0,0,1/1/2013 15:07,12.965190,77.719320,12.976770,77.572700,0,1.0
28,132543,21716,28,NaN,2,1237.0,330.0,NaN,NaN,1/1/2013 16:30,NaN,0,0,1/1/2013 15:07,12.926450,77.612060,12.858833,77.589127,0,1.0
29,132544,38966,12,NaN,2,61.0,393.0,NaN,NaN,1/1/2013 18:00,NaN,0,0,1/1/2013 15:11,12.962980,77.712290,13.199560,77.706880,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43401,185909,27899,65,7.0,3,1038.0,NaN,15.0,NaN,11/24/2013 12:00,41602.91667,0,0,11/24/2013 9:44,12.981266,77.637162,NaN,NaN,0,1.0
43402,185910,47996,89,1.0,3,328.0,NaN,15.0,NaN,11/24/2013 14:30,41602.81250,0,0,11/24/2013 9:52,12.945310,77.565530,NaN,NaN,0,1.0
43403,185911,41939,65,7.0,3,1038.0,NaN,15.0,NaN,11/24/2013 12:00,41602.91667,0,0,11/24/2013 9:53,12.981266,77.637162,NaN,NaN,0,1.0
43404,185912,48711,12,NaN,2,238.0,393.0,15.0,NaN,11/25/2013 3:15,41603.18573,1,0,11/24/2013 10:21,12.937110,77.601710,13.199560,77.706880,0,1.0
43405,185914,41939,12,4.0,3,1281.0,NaN,15.0,NaN,11/24/2013 14:00,41603.00000,0,0,11/24/2013 10:56,12.934634,77.611283,NaN,NaN,0,1.0
43406,185915,40643,12,3.0,3,136.0,NaN,15.0,NaN,11/24/2013 15:00,41602.91667,1,0,11/24/2013 11:33,12.907960,77.624180,NaN,NaN,1,100.0
43407,185916,48714,87,NaN,1,1180.0,NaN,15.0,62.0,12/24/2013 15:00,41634.99931,0,0,11/24/2013 11:34,12.900840,77.564830,NaN,NaN,0,1.0
43408,185917,40643,12,3.0,3,136.0,NaN,15.0,NaN,11/24/2013 15:00,41602.91667,1,0,11/24/2013 11:36,12.907960,77.624180,NaN,NaN,1,100.0
43409,185918,41939,12,4.0,3,1281.0,NaN,15.0,NaN,11/24/2013 14:00,41603.00000,0,0,11/24/2013 11:44,12.934634,77.611283,NaN,NaN,0,1.0
43410,185919,41939,12,4.0,3,1281.0,NaN,15.0,NaN,11/24/2013 14:00,41603.00000,0,0,11/24/2013 11:46,12.934634,77.611283,NaN,NaN,0,1.0
43411,185920,31846,65,4.0,3,541.0,NaN,15.0,NaN,11/24/2013 14:15,41603.01042,0,1,11/24/2013 12:09,12.935240,77.619970,NaN,NaN,1,100.0
43412,185921,44027,12,NaN,2,1384.0,571.0,15.0,NaN,11/24/2013 19:30,41602.89769,0,1,11/24/2013 12:10,13.028530,77.546250,12.951850,77.696420,0,1.0
43413,185922,48718,12,NaN,2,1377.0,393.0,15.0,NaN,11/25/2013 4:15,41603.21192,1,0,11/24/2013 12:10,13.055755,77.632910,13.199560,77.706880,0,1.0
43414,185923,34127,12,NaN,2,376.0,424.0,15.0,NaN,11/24/2013 22:15,41602.95931,0,1,11/24/2013 12:25,12.902450,77.660810,12.930840,77.618830,1,100.0
43415,185924,48719,12,1.0,3,768.0,NaN,15.0,NaN,11/24/2013 16:00,41602.87500,0,1,11/24/2013 12:32,12.989990,77.553320,NaN,NaN,0,1.0
43416,185926,36929,12,NaN,2,396.0,393.0,15.0,NaN,11/24/2013 16:15,41602.75176,1,0,11/24/2013 12:58,12.920730,77.664820,13.199560,77.706880,0,1.0
43417,185927,41939,12,4.0,3,1390.0,NaN,15.0,NaN,11/24/2013 15:00,41603.04167,0,0,11/24/2013 13:06,12.969368,77.641302,NaN,NaN,0,1.0
43418,185928,48721,12,NaN,2,1263.0,393.0,15.0,NaN,11/24/2013 18:00,41602.86178,1,0,11/24/2013 13:07,12.968970,77.594560,13.199560,77.706880,0,1.0
43419,185929,46807,12,NaN,2,571.0,393.0,15.0,NaN,11/25/2013 4:30,41603.23846,0,0,11/24/2013 13:47,12.951850,77.696420,13.199560,77.706880,0,1.0
43420,185930,36265,65,2.0,3,1237.0,NaN,15.0,NaN,11/25/2013 1:00,41603.41667,1,0,11/24/2013 13:54,12.926450,77.612060,NaN,NaN,0,1.0
43421,185931,48723,12,NaN,2,1371.0,1181.0,15.0,NaN,11/25/2013 9:45,41603.43118,0,0,11/24/2013 14:10,13.000418,77.674835,12.978960,77.673450,0,1.0
43422,185932,48724,12,NaN,2,393.0,269.0,15.0,NaN,11/24/2013 21:15,41602.98345,0,0,11/24/2013 14:12,13.199560,77.706880,12.974400,77.691830,1,100.0
43423,185933,48725,24,NaN,2,585.0,339.0,15.0,NaN,11/24/2013 16:00,41602.70913,0,1,11/24/2013 14:15,12.976770,77.572700,12.910280,77.645120,0,1.0
43424,185935,48726,12,2.0,3,515.0,NaN,15.0,NaN,11/24/2013 15:15,41603.01042,0,0,11/24/2013 14:23,12.978960,77.673450,NaN,NaN,0,1.0
43425,185936,30220,12,NaN,2,585.0,1226.0,15.0,NaN,11/25/2013 0:00,41603.03336,0,1,11/24/2013 14:24,12.976770,77.572700,13.015080,77.677960,0,1.0
43426,185937,14364,12,NaN,2,1147.0,452.0,15.0,NaN,11/24/2013 18:00,41602.82020,1,0,11/24/2013 14:25,13.030640,77.649100,12.952780,77.590880,0,1.0
43427,185938,48727,12,NaN,2,393.0,466.0,15.0,NaN,11/26/2013 1:00,41604.08037,1,0,11/24/2013 14:30,13.199560,77.706880,13.017436,77.644580,0,1.0
43428,185939,48729,12,1.0,3,974.0,NaN,15.0,NaN,11/24/2013 18:30,41602.97917,0,0,11/24/2013 14:35,13.075570,77.559040,NaN,NaN,0,1.0
43429,185940,30724,87,NaN,2,1263.0,542.0,15.0,NaN,11/24/2013 16:00,41602.69495,0,0,11/24/2013 14:43,12.968970,77.594560,12.938230,77.622890,0,1.0
43430,185941,48730,12,NaN,2,689.0,393.0,15.0,NaN,11/25/2013 5:00,41603.25385,0,1,11/24/2013 14:50,12.976720,77.649270,13.199560,77.706880,0,1.0

In [6]:
taxiCancellationTraining.columns

Index(['id', 'user_id', 'vehicle_model_id', 'package_id', 'travel_type_id',
       'from_area_id', 'to_area_id', 'from_city_id', 'to_city_id', 'from_date',
       'to_date', 'online_booking', 'mobile_site_booking', 'booking_created',
       'from_lat', 'from_long', 'to_lat', 'to_long', 'Car_Cancellation',
       'Cost_of_error'],
      dtype='object')

In [7]:
taxiCancellationTraining.isnull().sum()

id                         0
user_id                    0
vehicle_model_id           0
package_id             35881
travel_type_id             0
from_area_id              88
to_area_id              9138
from_city_id           27086
to_city_id             41843
from_date                  0
to_date                17890
online_booking             0
mobile_site_booking        0
booking_created            0
from_lat                  93
from_long                 93
to_lat                  9138
to_long                 9138
Car_Cancellation           0
Cost_of_error              0
dtype: int64

In [9]:
taxiCancellationScore.columns

Index(['id', 'user_id', 'vehicle_model_id', 'package_id', 'travel_type_id',
       'from_area_id', 'to_area_id', 'from_city_id', 'to_city_id', 'from_date',
       'to_date', 'online_booking', 'mobile_site_booking', 'booking_created',
       'from_lat', 'from_long', 'to_lat', 'to_long', 'Unnamed: 18',
       'Unnamed: 19'],
      dtype='object')

In [10]:
taxiCancellationScore.isnull().sum()

id                         0
user_id                    0
vehicle_model_id           0
package_id              8215
travel_type_id             0
from_area_id              20
to_area_id              2150
from_city_id            6288
to_city_id              9635
from_date                  0
to_date                 4127
online_booking             0
mobile_site_booking        0
booking_created            0
from_lat                  20
from_long                 20
to_lat                  2150
to_long                 2150
Unnamed: 18            10000
Unnamed: 19            10000
dtype: int64

In [8]:
feature_cols = ['id', 'user_id', 'vehicle_model_id', 'package_id', 'travel_type_id',
                'from_area_id', 'to_area_id', 'from_city_id', 'to_city_id', 'from_date',
       'to_date', 'online_booking', 'mobile_site_booking', 'booking_created',
       'from_lat', 'from_long', 'to_lat', 'to_long']
X = taxiCancellationTraining[feature_cols] # Features
Y = taxiCancellationTraining.Car_Cancellation # Target variable

In [ ]:
feature_cols = ['id', 'user_id', 'vehicle_model_id', 'package_id', 'travel_type_id',
       'from_area_id', 'to_area_id', 'from_city_id', 'to_city_id', 'from_date',
       'to_date', 'online_booking', 'mobile_site_booking', 'booking_created',
       'from_lat', 'from_long', 'to_lat', 'to_long']
X_test = taxiCancellationScore[feature_cols] # Features
y_test = taxiCancellationScore.Car_Cancellation # Target variable